.linkedSitesContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	padding: 20px 60px 20px 60px;

}

.linkedSitesContainer article {
	padding: 13px;
	text-align: center;
}

.linkedSitesContainer a {
	color: white;
	text-decoration-line: none;
	background-color: rgb(240 150 66);
}

.linkedSitesContainer a:hover {
	background-color: white;
	color:	rgb(23 117 81);
}

#headline1 {
	font-weight: bold;
	font-size: 20px;
	color: rgb(23 117 81);
	text-align: center;
}

.listContainer {
	padding: 15px 0px 15px 0px;
}

.list{
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 30px;
	padding: 0px 300px 0px 300px;
}

li {
	color: rgb(51 51 51);
	font-weight: normal;
	font-size: 16px;
	}







@media (max-width: 900px) {

.list {
	grid-template-columns: 1fr 1fr;
	padding: 0px 20px;
	grid-column-gap: 30px;
}




}
